body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  background: rgb(50,1,45);
  background: linear-gradient(180deg, rgba(50,1,45,1) 5%, rgba(31,26,26,0.8463760504201681) 25%, rgba(64,57,57,0.8239670868347339) 67%, rgba(255,255,255,0.6446953781512605) 95%, rgba(255,255,255,0) 99%);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.header p {
  top: 1px;
  right: 1px;
  color: #fff;
  font-size: 8px;
  margin-top: -10px;
  text-align:right;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
}

.fire-color {
  color: red;
}

.volcano-color {
  color:orangered

}

.snow-color {
  color: rgb(109, 196, 250);
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}

@media screen and (max-width: 700) {
  .location-info {
    position: absolute;
    top: 130px;
    right: 50px;
    width: 200px;
    min-height: 200px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
  }

  .header h1 {
    font-size: 18px;
  }
}